@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Play", sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color-gray-1: #605e5e;
  --primary-color-gray-2: #9c9c9c;
  --primary-color-pink-1: rgba(245, 176, 176, 1);
  --secondary-color-blue: #b6fffb;
  --background-black: hsl(220, 10%, 12%);
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

/* CUSTOM SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(241, 118, 118);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color-blue);
}

body {
  width: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.75rem;
}
p {
  letter-spacing: 1px;
  line-height: 1.1rem;
  font-weight: 500;
}

/* @media screen and (max-width: 1280px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.75rem;
  }
  h5 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.75rem;
  }
  h5 {
    font-size: 1.5rem;
  }
} */
button {
  cursor: pointer;
  padding: 12px 0;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 24px;
  border-radius: 8px;
  border: 2px solid var(--primary-color-pink-1);
  background-color: white;
  color: var(--primary-color-pink-1);
  display: inline;
  width: 12em;
  transition: 0.2s;
}

button:hover {
  border: 2px solid var(--primary-color-pink-1);
  background-color: var(--primary-color-pink-1);
  color: white;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 1em;
  /* justify-content: center; */
  width: 100%;
}

@media screen and (max-width: 1280px) {
  section {
    padding: 2em 1em;
  }
}

.section-title {
  width: 100%;
  margin-bottom: 6em;
}

.section-title h2 {
  position: relative;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
}
.section-title h2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;

  left: 0;
  background-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgb(165, 165, 165),
    rgba(0, 0, 0, 0)
  );
}

#navbar {
  height: 92px;
  width: 100%;
  z-index: 1000;
  opacity: 0.8;
  background: "transparent";
  /*background: linear-gradient(90deg, rgba(245,176,176,0.6) 16%, rgba(224,224,224,0.6) 50%, rgba(96,233,230,0.7) 100%);*/
  background: linear-gradient(
    90deg,
    rgba(245, 176, 176, 1) 100%,
    rgba(230, 230, 230, 0.8547794117647058) 100%
  );
  /*    opacity: 0.9;*/
  display: flex;
  position: fixed;
  justify-content: flex-end;

  color: #e0e0e0;
  padding-right: 1em;
  transition: all 0.2s;
}

.transparent {
}
@media (max-width: 600px) {
  #navbar {
    justify-content: center;
    transition: 0.5s;
  }
}
.nav-list {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  /* width: 400px; */
  /*    float: right;*/
  transition: 0.25s;
  font-size: 1.3rem;
}
.nav-list li {
  height: 100%;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar .nav-list a {
  /*    display: block;*/
  color: snow;
  /*    height: 100%;*/
  font-weight: 500;
  width: 100%;
  font-size: 1.5rem;
  padding: 10px 1.4em;
  text-align: center;
  /* transition: all .5s; */
}

#navbar .nav-list li:hover {
  background-color: #dbe0e0;
}

/* WELCOME */
#welcome-section {
  height: 100vh;
  width: 100%;
  background: url(sky1.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.container {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  /*    align-items: ;*/
  justify-content: center;
  flex-direction: column;
}
#welcome-section h1 {
  color: #605e5e;
}
#welcome-section p {
  width: 100%;
  font-size: 2em;
  color: #b6fffb;
}
/* TYPING */
.typewriter {
  /* display: flex;
  justify-content: center; */
  /* display: flex; */
}

.typewriter h1 {
  overflow: hidden;
  margin: 0 auto;
  /* align-items: center; */

  border-right: 5px solid orange;
  white-space: nowrap;
  letter-spacing: 2px;
  animation: typing 3.5s steps(30, end) 1s 1 normal both,
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 550px;
  }
}

@media screen and (max-width: 700px) {
    @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 420px;
        }
      }
      
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

#about {
  background-color: #eee;
  min-height: calc(100vh - 81px);
}

.image-container {
  height: 440px;
}
.image-container img {
  height: 100%;
  filter: grayscale(0.7);
  box-shadow: 0px 0px 40px #00000049;
  border-radius: 6px;
}

#about .section-content {
  display: flex;
  flex-direction: row;
  gap: 8em;
  padding: 4em 0;
}
@media screen and (max-width: 1280px) {
  #about .section-content {
    display: flex;
    flex-direction: row;
    gap: 4em;
    padding: 3em 0;
  }
}

@media screen and (max-width: 1080px) {
  #about .section-content {
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding: 3em 0;
  }
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 620px;
}
.about-content .major {
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 12px;
  color: var(--primary-color-gray-1);
}
.about-content p {
  margin-bottom: 12px;
}

#projects {
  background: hsl(220, 10%, 12%);
  color: white;
}
.list-projects-wrap {
  display: flex;
  justify-content: center;
}
.list-projects {
  display: flex;
  flex-direction: row;
  width: 100%;
  row-gap: 32px;
  column-gap: 48px;

  max-width: 1280px;
  justify-content: center;
  flex-wrap: wrap;
}
.project-item {
  display: block;
  position: relative;
  height: 300px;
  width: 30%;
  min-width: 280px;
}

.card {
  perspective: 300rem;
  transition: 2s ease-in-out;
  -moz-perspective: 200rem;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 40px #00000049;
  border-radius: 6px;
}
/*
.card:hover{
    transform: rotateY(180deg);
}
*/
.card-face {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: auto;
  transition: 2s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  transform-style: preserve-3d;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
}
.card-face img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.front-face {
  z-index: 2;
}
.card:hover .front-face {
  transform: rotateY(180deg);
}
.back-face {
  z-index: 1;
  transform: rotateY(-180deg);
}
.card:hover .back-face {
  transform: rotateY(0);
}

/* CONTACT */
#contacts .section-title {
  margin-bottom: 2em;
}
#contacts h5 {
  font-weight: 400;
  margin-bottom: 1em;
}
.contacts-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
@media screen and (max-width: 880px) {
  .contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}

.contact-item a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.contact-item:hover {
  transform: translateY(12px);
  transition: 0.5s;
}
.contact-item .icon {
  font-size: 2rem;
}

.contact-item .label {
  font-size: 1.5rem;
  font-weight: 600;
}

/* FOOTER */
footer {
  background: var(--background-black);
  padding: 2em;
  color: snow;
  border-top: 5px solid var(--primary-color-pink-1);
}
footer h5 {
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
}
